body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
#body-wrapper {
    margin: 1%;
}

/* HEADER STYLES */
#top-nav {
    height: 75px;
    padding: 0 2.5%;
    background-color: black;
    color: white;
}
#top-menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
#top-menu div {
    margin-right: 2%;
}
#top-menu div:hover {
    text-decoration: underline;
    cursor: pointer;
}

#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: inherit;
}
#nav-container ul {
    display: inline-block;
}
#nav-container img {
    height: 50px;
    width: auto;
}
#top-menu {
    display: flex;
}

/* HOME STYLES*/

.split {
    height: 50%;
    width: 50%;
    float: left;
    /*outline-style: solid;
    outline-color: #dddddd;*/
  }
  
  #left {
    background-color: white;
    height: 100%;
    overflow-y: auto;
    padding-left: 10px;
  }
  
  #righttop {
    background-color: white;
    overflow-y: auto;
    padding-left: 10px;
  }
  
  #rightbottom {
      background: white;
      overflow-y: auto;
      padding-left: 10px;
  }
  #addBtn{
      background: none;
      background-color: blue;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 20%;
      margin-bottom:10px;
      opacity: 0.8;
  }
  .EditRow {
      cursor: pointer;
  }
  
  * {box-sizing: border-box;}
  .AddEdit-Form {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(71,78,93, .5);
      padding-top: 50px;
  }
  
  .form-container {
    padding: 10px;
  }
  
  .form-container input[type=text] {
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container select {
    width: 15%;
    display: inline-block;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  .form-container .remove {
    background-color: blue;
  }
  
  .content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      border: 1px solid #fff;
      width: 80%;
  }
  
  table {
    border-collapse: collapse;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #fff;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table .table {
    background-color: #f8fafc;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-primary:hover {
    background-color: #b0d4f1;
  }
  
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #b0d4f1;
  }
  
  .table-hover .table-secondary:hover {
    background-color: #c8cbcf;
  }
  
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #c8cbcf;
  }
  
  .table-hover .table-success:hover {
    background-color: #b3e8ca;
  }
  
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #b3e8ca;
  }
  
  .table-hover .table-info:hover {
    background-color: #c0ddf6;
  }
  
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #c0ddf6;
  }
  
  .table-hover .table-warning:hover {
    background-color: #fff8b3;
  }
  
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #fff8b3;
  }
  
  .table-hover .table-danger:hover {
    background-color: #f4b0af;
  }
  
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #f4b0af;
  }
  
  .table-hover .table-light:hover {
    background-color: #ececf6;
  }
  
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ececf6;
  }
  
  .table-hover .table-dark:hover {
    background-color: #b9bbbe;
  }
  
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #b9bbbe;
  }
  
  
  .table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
  }

/* EFFORT CSS */
/*#page-title {
    margin: 0 0 2% 2%;
}*/

#page-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

#nav {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#nav-title {
    font-size: 1.3em;
}

#nav-title:hover {
    text-decoration: none;
    cursor: inherit;
}

#body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#top-body {
    display: flex;
    width: 100%;
    height: 50%;
}

#bottom-body {
    text-align: center;
    margin-top: 50px;
}

#bar-effort {}

#pi-effort {}

svg {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
svg text.middle {
font-family: Lato;
font-weight: 300;
font-size: 24px;
}
svg .nvd3.nv-pie .nv-pieLabels text {
font-family: Lato;
font-size: 18px;
font-weight: 300;
fill: #fff !important;
}
  
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    font-size: 1em;
    border-bottom: .5px #a9a9a9 solid;
}

.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
}


.chart {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.chart-title {
    text-align: center;
    width: 100%;
}

table {
    width: 94%;
    margin: 0 3%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td {
    height: 50px;
    border-bottom: 1px grey solid;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
   }   


/* REQ PAGE */

tr:nth-child(even) {
  background-color: #dddddd;
}

#Import {
  display: none;
}

.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}

#recent-proj {
  margin-bottom: 50px;
}

#recent-proj td:hover {
  background-color: #dddddd;
  cursor: pointer;
}

#new-proj-desc {
  padding:0; 
    margin:0 
}

#new-proj-button {
    margin-bottom: 50px
}